!!! 5
html
  head
    title Subway
    link(href='/assets/images/favicon.ico', rel='icon', type='image/x-icon')
    != css('bootstrap')
    != css('subway')
    != js('client')
    include templates/chat_window
    include templates/overview
    include templates/overview_home
    include templates/overview_connection
    include templates/overview_settings
    include templates/load_image
  body
    block content
