script(id="chat_application", type="text/html")
  .sidebar
    #logo
      img(src='/assets/images/subway.png')
    h2 Subway
    #channels
  .content
    #chat-window
      .titlebar
      #chat-contents
      #input-container
    #user-window
      .titlebar
      #user-list

script(id="load_image", type="text/html")
  img(id="loading_image", src="/assets/images/loading.gif")

script(id="overview_connection", type="text/html")
  #home_parent
    a.overview_button#home Home
  form
    .clearfix
      label Server
      .input
        input#connect-server
    .clearfix
      label Nick
      .input
        input#connect-nick
    a(id="connect-button", class="btn primary") Connect

script(id="overview_home", type="text/html")
  ul
    li.overview_button#connection
      img(src="/assets/images/connection.svg") 
      span New Connection
    li.overview_button#settings
      img(src="/assets/images/settings.svg") 
      span Settings

script(id="overview", type="text/html")
  #overview

script(id="overview_settings", type="text/html")
  #home_parent
    a.overview_button#home Home
  p Settings

script(id="titlebar", type="text/html")
  span(class="window_title") {{title}}
  span(id="topic") {{topic}}

