script(id="chat_application", type="text/html")
  .sidebar
    #logo
      img(src='/assets/images/subway.png')
    h2 Subway
      br
      small IRC client
    #channels
  .content

script(id="load_image", type="text/html")
  img(id="loading_image", src="/assets/images/loading.gif")

script(id="overview_connection", type="text/html")
  #home_parent
    a.overview_button#home Home
  form
    .clearfix
      label Server
      .input
        input#connect-server
    .clearfix
      label Nick
      .input
        input#connect-nick
    a(id="connect-button", class="btn primary") Connect

script(id="overview_home", type="text/html")
  ul
    li.overview_button#connection
      img(src="/assets/images/connection.svg")
      span New Connection
    li.overview_button#settings
      img(src="/assets/images/settings.svg")
      span Settings

script(id="overview", type="text/html")
  #overview

script(id="overview_settings", type="text/html")
  #home_parent
    a.overview_button#home Home
  p Settings

script(id="titlebar", type="text/html")
  .titlebar
    span(class="window_title") {{title}}
    span(id="topic") {{topic}}

script(id="chat", type="text/html")
  #chat-window
    #chat-bar
    #chat-contents
    #input-container
      .input
        input(id="chat-input")
        a(id="chat_button", class="btn disabled") Send
  #user-window
    #user-bar
      .titlebar
        span(class='window_title') User List
    #user-list

script(id="channel", type="text/html")
  span(class="channel-name") {{name}}

script(id="unread", type="text/html")
  span(class="unread", title="Unread Messages") {{unread}}

script(id="unread_mentions", type="text/html")
  span(class="unread_mentions", title="Mentions in channel") {{unread_mentions}}

script(id="userlist_user", type="text/html")
  div(class="userlist_user_activity")
    img(src="/assets/images/{{user_status}}.png")
    span(class="userlist_user_{{user_stats}}")
  div(class="userlist_user_info")
    div(class="userlist_user_name") {{role}}{{nick}}
    div(class="userlist_user_time") {{activity}}

script(id="link", type="text/html")
  a(target="_blank", href="{{link}}") {{link}}

script(id="image_embed", type="text/html")
  .embed
    img(src="{{link}}")

script(id="youtube_embed", type="text/html")
  .embed
    iframe(width="420", height="315", src="http://www.youtube.com/embed/{{video_id}}?rel=0", frameborder="0", allowfullscreen)

script(id="action", type="text/html")
  .chat_action
    b * {{user}}&nbsp;
    span {{content}}
  .chat_time
    span {{rendered_time}}

script(id="message", type="text/html")
  .chat_name
    b {{user}}
  .chat_message
    span {{content}}
  .chat_time
    span {{rendered_time}}
