script(id="chat_application", type="text/html")
  .sidebar
    #logo
      img(src='/assets/images/subway.png')
    h2 Subway
      br
      small IRC client
    #user-box
    #channels
  .content

script(id="load_image", type="text/html")
  img(id="loading_image", src="/assets/images/loading.gif")

script(id="overview_connection", type="text/html")
  #home_parent
    a.overview_button#home Home
  form.form-horizontal
    .control-group
      label(for="connect-server") Server
      .controls
        input#connect-server(type="text")
    .control-group
      label(for="connect-nick") Nick
      .controls
        input#connect-nick(type="text")
    button(id="connect-button", class="btn btn-primary") Connect

script(id="overview_home", type="text/html")
  ul
    li.overview_button#connection
      img(src="/assets/images/connection.svg")
      span New Connection
    li.overview_button#settings
      img(src="/assets/images/settings.svg")
      span Settings

script(id="overview", type="text/html")
  #overview

script(id="overview_settings", type="text/html")
  #home_parent
    a.overview_button#home Home
  p Settings

script(id="titlebar", type="text/html")
  .titlebar
    span(class="window_title") {{title}}
    span(id="topic") {{topic}}

script(id="chat", type="text/html")
  #main-window
    #chat-window
      #chat-bar.bar
      #chat-contents.bar
      #input-container.bar
        .input
          input(id="chat-input")
          a(id="chat_button", class="btn disabled") Send
    #user-window
      #user-bar.bar
        .titlebar
          span(class='window_title') User List
      #user-list.bar

script(id="channel", type="text/html")
  span(class="channel-name") {{name}}
  {{#notStatus}}
  .close-button ×
  span(class="unread", title="Unread Messages") {{unread}}
  span(class="unread-mentions", title="Mentions in channel") {{unread_mentions}}
  {{/notStatus}}

script(id="user_box", type="text/html")
  span 
    i(class="icon-user")
    {{username}}

script(id="userlist_user", type="text/html")
  div(class="userlist_user_activity")
    img(src="/assets/images/{{user_status}}.png")
    span(class="userlist_user_{{user_stats}}")
  div(class="userlist_user_info")
    div(class="userlist_user_name") {{role}}{{nick}}
      span(class="userlist_user_time") {{activity}}

script(id="link", type="text/html")
  a(target="_blank", href="{{link}}") {{link}}

script(id="image_embed", type="text/html")
  .embed
    img(src="{{link}}")

script(id="youtube_embed", type="text/html")
  .embed
    iframe(width="420", height="315", frameborder="0", allowfullscreen,
      src="http://www.youtube.com/embed/{{video_id}}?rel=0")

script(id="action", type="text/html")
  .chat_action
    b * {{user}}&nbsp;
    span {{content}}
  .chat-time
    span {{renderedTime}}

script(id="message", type="text/html")
  .chat-name
    b {{user}}
  div(class="chat-message {{type}}")
    span {{content}}
  .chat-time
    span {{renderedTime}}

script(id="join_part", type="text/html")
  span(class="{{type}}_img")
  span <b>{{nick}}</b> {{action}} the channel {{reason}} {{message}}

script(id="nick", type="text/html")
  span <b>{{oldNick}}</b> is now known as {{newNick}}
