script(id="overview", type="text/html")
  #overview
    ul
      li 
        img(src="/assets/images/connection.svg") 
        span New Connection
      li 
        img(src="/assets/images/settings.svg") 
        span Settings