script(id="overview_home", type="text/html")
  ul
    li.overview_button#connection
      img(src="/assets/images/connection.svg") 
      span New Connection
    li.overview_button#settings
      img(src="/assets/images/settings.svg") 
      span Settings