script(id="overview_connection", type="text/html")
  #home_parent
    a.overview_button#home Home
  form
    .clearfix
      label Server
      .input
        input#connect-server
    .clearfix
      label Nick
      .input
        input#connect-nick
    a(id="connect-button", class="btn primary") Connect