html, body {
  margin: 0;
  padding: 0;
}

.subway-container {
  height: 100%;
  display: flex;
}

main {
  background-color: @app-background-color;
  flex: 1;
}

nav {
  height: 100%;
  width: 240px;
}
