@media screen and (max-width: 720px) {
    .container-fluid {
        /* Remove sidebars */
        .sidebar {
            width: 0;
        }
        #user-window {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            width: 33%;
            z-index: 2;
        }
        .content {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            &.user-window-toggled {
                right: 33%;
            }
        }
        #chat-window {
            width: 100%;
        }
        #channels {
            display: block;
            height: 5%;
            left: 0;
            position: fixed;
            overflow: hidden;
            top: 0;
            z-index: 1;
            div.channel {
                border: 1px solid rgba(10, 10, 10, .5);
                border-radius: 25px 25px 0 0;
                display: inline-block;
                height: 34px;
                width: 30%;
                text-align: left;
                padding: 7px 0;
                position: relative;
                span.channel-name {
                    margin-left: 15px;
                    padding-right: 5px;
                }
                span.unread, span.unread-mentions {
                    float: none;
                }
                div.close-button {
                    visibility: visible;
                    position: absolute;
                    top: 7px;
                    right: 5px;
                }
            }
            &.user-window-toggled {
                left: -33%;
            }
        }
        #chat-bar {
            position: fixed;
            left: 0;
            top: 34px;
            z-index: 1;
            &.user-window-toggled {
                left: -33%;
            }
        }
        #chat-contents {
            margin-top: 34px;
        }

        #user-window-toggle {
            background: rgba(67, 73, 80, .5);
            border-radius: 50px 0 0;
            bottom: 56px;
            display: block;
            height: 55px;
            position: fixed;
            right: 0;
            width: 55px;
            z-index: 1;
            &:hover {
                background: rgba(67, 73, 80, .75);
                cursor: pointer;
            }
            &.user-window-toggled {
                right: 33%;
            }
        }
        input#chat-input {
            width: 65%;
        }
        #chat-button {
            width: 20%;
            padding-left: 0;
            padding-right: 0;
        }


    }
}
