.sidebar > h2 {
  text-align: center;
  line-height: 0.9em;
  margin-top: 0.3em;
}

#overview{
  width: 50%;
  margin:10% auto 0px auto;
  text-align: center;
  padding: 10px;
  background: #E7E9ED;
  border: 2px solid #DDD;
}

#overview ul li{
  display: inline-block;
  padding: 10px;
  margin:0px 10px 0px 10px;
  text-align: center;
  width: 130px;
}

#overview ul li:hover{
  background: #A7DBD8;
  cursor: pointer;
  border-radius: 5px;
}

#overview ul li img{
  height: 75px;
}

#overview li span{
  display: block;
  font-weight: bold;
}

#overview #home_parent {
  height: 20px;
  width: 100%;
}

#overview #home {
  color: black;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

#overview form #loading_image{
  position: fixed;
  margin-left: 10px;
}

#channels{
  margin-top: 25px;
}

#channels > .channel{
  padding: 5% 10% 5% 20%;
  color: #333333;
  border-bottom: 1px solid #CCCCCC;
}

#channels > .channel:not(.active):hover{
  background: #A7DBD8;
  color: #444444;
  cursor: pointer;
}

#channels > .active{
  background: #315857;
  color: whiteSmoke;
  font-weight: bold;
}

.channel > .unread, .channel > .unread_mentions {
  padding: 2px 6px 2px 6px;
  color: whiteSmoke;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  float: right;
}

.unread{
  background: #980000;
}

.unread_mentions{
  background: #0B2666;
  margin-right: 0.3em;
}

#logo{
  text-align: center;
}

#logo > img{
  margin-top: 10%;
}

/* Here are the styles for the chat window */

#chat-window{
  min-height: 100%;
  height: 100%;
  width: 80%;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box; // for Mozilla
  -webkit-box-sizing: border-box; // for WebKit
  -ms-box-sizing: border-box; // for IE8
}

#chat-bar{
  border-right: 1px solid #666666;
}

#chat-bar, #user-bar{
  height: 5%;
  background: #434950;
  color: #eee
}

.titlebar{
  padding-top: 0.5em;
  font-size: 1.2em;
  padding-left: 0.5em;
}

.window_title{
  font-weight:bold;
  margin-right: 2%;
}

#titlebar #topic{
  color: #777;
}

#chat-contents {
  height: 85%;
  overflow: hidden;
  overflow-y: auto;
  background: whiteSmoke;
  border-right: 1px solid #DDDDDD
}

#input-container {
  height: 10%;
  border-top: 2px solid #DDD;
  background: whiteSmoke;
  border-right: 1px solid #DDDDDD;
}

#input-container .input{
  padding-top: 2%;
}

#input-container .input input{
  width: 83%;
  margin-right: 2%;
  float: left;
  margin-left: 2%;
}

#input-container .input a{
  font-size: 1.3em;
}

.message{
  border-bottom: 1px solid #DDDDDD;
  display: table;
  width: 100%;
}

.message_me{
  background: #F9F9F9;
}

.chat_name{
  display: table-cell;
  width: 14%;
  vertical-align: top;
  padding: 1% 0% 1% 1%;
}

.chat_message{
  display: table-cell;
  width: 62%;
  padding: 1%;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.chat_message .embed img{
  display: block;
  max-width: 100%;
  max-height: 60%;
  padding: 10px;
}

.mention{
  color: #0B2666;
  font-weight: bold;
}

.chat_time {
  display: table-cell;
  width: 20%;
  vertical-align: top;
  color: #888888;
  text-align: center;
  padding: 1% 0% 1% 0%;
}

#user-window{
  height: 100%;
  width: 20%;
  position: absolute;
  margin-left: 80%;
  background: #E7E9ED;
}

#user-list{
  overflow-y: auto;
  height: 95%;
}
