doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Subway IRC client
    meta(name='description', content='The Subway IRC client')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800" rel="stylesheet" type="text/css")
    each file in css_output
      link(rel="stylesheet", href="#{file}")

  body
    .mainMenu
    //if lt IE 8
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    //
       Add your site or application content here 
    .container
      nav
        .text-center
          img(src="/img/subway.png")
          h1 Subway
            br
            small IRC Client
        .nav-area
      main
    each file in js_output
      script(src="#{file}")
