*, *::before, *::after
  box-sizing: border-box

html, body
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0
  padding: 0
  height: 100%
  font-size: 14px
  color: #333333

.container
  height: 100%
  display: flex

main
  background: whiteSmoke
  flex: 1

.hide
  display: none

.pointer
  cursor: pointer

.faux_a
  &:hover
    cusor: pointer

