@font-face
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("//themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff") format('woff');

*, *::before, *::after
  box-sizing: border-box

html, body
  font-family: 'OpenSans', Helvetica, Arial, sans-serif;
  margin: 0
  padding: 0
  height: 100%

.container
  height: 100%
  display: flex

main
  background: whiteSmoke
  flex: 1

.hide
  display: none

.pointer
  cursor: pointer
