.mainMenu
  position: absolute
  top: 30%
  left: 0
  right: 0
  margin: 0 auto
  min-width: 300px
  padding: 20px
  border: 1px solid #CCC
  background: #EEE
  width: 400px

  input
    width: 100%
    margin-bottom: 10px

.menuList
  list-style: none
  li
    display: inline-block
    margin: 0 40px
    width: 60px
    text-align: center
    &:hover
      cursor: pointer

.menuIcon
  display: block
  text-align: center
  font-size: 3.5em
