.isMe
  background: #ECECF5

.mention
  color: #0B2666
  font-weight: bold

.message > div > .fa
  margin-right: 5px

.message > div > .fa-sign-in
  color: #66AF2C

.message > div > .fa-sign-out
  color: #AF2C36

.message > div > .fa-sign-circle
  color: #2C7BAF
