.messageInput
  position: relative

.nickBox
  position: absolute
  bottom: 63px
  left: 0
  background: #F8F8F8
  border-radius: 0 5px 0 0
  border-top: 1px solid #DDD
  border-right: 1px solid #DDD

  max-height: 250px
  overflow: scroll

.nickBox ul
  list-style: none
  margin: 0
  padding: 0
  overflow: hidden

.nickBox li.selected
  background: #8D8D8D
  color: white

.nickBox li
  padding-right: 250px

  &:hover
    cursor: pointer
    color: #333
    background: #F1F1F1
