nav
  flex: 0 0 14em
  order: -1
  width: 14em
  background: #E7E9ED
  border-right: 1px solid #DDDDDD
  padding-top: 20px
  display: flex
  flex-direction: column

.nav-area
  flex: 1
  overflow: scroll
  ul
    padding: 0
    margin: 0

  li
    padding: 10px 0 10px 40px
    list-style-type: none
    &:hover
      cursor: pointer
      background: #A7DBD8
      i
        display: inline-block
        opacity: 0.6
        margin-right: 10px
        &:hover
          opacity: 1
          cursor: pointer
    &.active:hover
      background: #315857
      cursor: default

    i
      display: none
      float: right
      margin-top: 2px

.active
  background: #315857
  color: white

.server_name, .server_nick
  background: #434950
  padding: 10px 0 10px 40px
  color: white

.server_name
  border-left: 5px solid #FA6900

.server_nick
  border-left: 5px solid #8A9B0F

.unread, .unread_highlight
  padding: 2px 6px
  color: whiteSmoke
  border-radius: 4px
  margin-left: 5px
  display: inline-block

.sideNavUp, .sideNavDown
  width: 195px
  background: orange
  color: white
  padding: 10px 0px 10px 40px
  position: fixed
  transition: left 300ms ease-in-out
  left: -195px

.sideNavDown
  bottom: 0

.unread
  background: #980000
