.userList
  background: #E7E9ED
  display: flex
  flex-direction: column

  .titlebar
    border-left: 1px solid #4E5257

.usersListed
  overflow: scroll
  flex: 1
  border-left: 1px solid #DDD

.user
  border-bottom: 1px solid #DDD

.activeUser, .notActiveUser
  border-right: 1px solid #DDD
  display: inline-block
  padding: 7px
  margin-right: 5px
  background: #F5F5F5

.activeUser
  color: #66AF2C

.notActiveUser
  color: #F78E22

.lastActive
  margin-left: 5px
  color: #888
